@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 35 49% 92%;
    --foreground: 228 9% 11%;

    --card: 0 0% 100%;
    --card-foreground:  228 9% 11%;
 
    --popover: 0 0% 100%;
    --popover-foreground:  228 9% 11%;
 
    --primary: 228 9% 11%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 41, 93%, 48%;
    --secondary-foreground: 228 9% 11%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 228 9% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 9% 91.4%;
    --input: 228 9% 91.4%;
    --ring: 41 93% 48%;
 
    --radius: .75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}