@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Headings */
  h1, .typography-h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2, .typography-h2 {
    @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
  h3, .typography-h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4, .typography-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  /* body text */
  p, .typography-body-base {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  .typography-body-lead {
    @apply text-xl text-muted-foreground;
  }
  .typography-body-large {
    @apply text-lg font-semibold;
  }
  .typography-body-small {
    @apply text-sm font-medium leading-none
  }
  .typography-body-muted {
    @apply text-sm text-muted-foreground;
  }

  /* quotes */
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  /* tables */
  table {
    @apply w-full;
  }
  tr {
    @apply m-0 border-t p-0 even:bg-muted
  }
  th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }
  td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  /* lists */
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  ol {
    @apply my-6 ml-6 [&>li]:mt-2;
  }

  /* code blocks */
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
}